    <%= simple_form_for ([current_user, @profile]), :html => { :class => 'form-vertical' } do |p| %>
    <div class="row-fluid">
    <div class="span10">
    
    <%= p.input :birthdate, :label => "Date Of Birth", :start_year => 1900, :input_html => {:class=> "input-small"} %>
    <%= p.input :description, :input_html => { :class => "input-xlarge", :style => "height: 100px;"}%>
    </div>
    <div class="span2">
    	
    <%= image_tag @profile.avatar.url(:medium) %></br>
    
    <%= p.file_field :avatar %>
  
    
    </div>
    </div>
    <div class="well">
    <div class="row-fluid">
    <div class="span6">
    	
    </div>
    <div class="span6">
  
    </div>
    </div>
    </div>
    <div class="form-actions">
    <%= p.button :submit %>
    </div>
  
 
 
    <% end %>
    
